/**
 * styles.css
 *
 * App container styles
 */

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

.container {
  position: absolute;
  width: 100%;
  height: 100%;
}
